###### 11월 14일

# 모듈 불러오기

In [12]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

# 시각화를 주피터에 
%matplotlib inline

#한글 폰트를 선명하게 보기위해
%config Inlinebackend.fiure_format = 'retina'
mpl.rc('font',family = 'malgun gothic')
# 유니코드에서 음수로 부호설정
mpl.rc('axes',unicode_minus = False)

# 차트 설정 
sns.set(font = "malgun gothic", rc = {'axes.unicode_minus':False}, style = 'darkgrid')
plt.rc('figure', figsize = (10,8))
warnings.filterwarnings('ignore')

# 데이터셋 로딩

In [13]:
mos = pd.read_csv('C:\\k_disital\\source\\mygit\\ML-First-Project\\mosquito_Indicator.csv')

In [14]:
mos.head()

         date  mosquito_Indicator  rain(mm)  mean_T(℃)  min_T(℃)  max_T(℃)
0  2016-05-01               254.4       0.0       18.8      12.2      26.0
1  2016-05-02               273.5      16.5       21.1      16.5      28.4
2  2016-05-03               304.0      27.0       12.9       8.9      17.6
3  2016-05-04               256.2       0.0       15.7      10.2      20.6
4  2016-05-05               243.8       7.5       18.9      10.2      26.9

In [15]:
mos.keys()

Index(['date', 'mosquito_Indicator', 'rain(mm)', 'mean_T(℃)', 'min_T(℃)',
       'max_T(℃)'],
      dtype='object')

In [16]:
colums=mos.keys()

In [18]:
df = pd.DataFrame(mos , columns=colums)

In [19]:
df.columns = ['date','mosquito_Indicator','rain','mean_T','min_T','max_T']

In [20]:
mos.keys()

Index(['date', 'mosquito_Indicator', 'rain', 'mean_T', 'min_T', 'max_T'], dtype='object')

In [22]:
mos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342 entries, 0 to 1341
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1342 non-null   object
 1   mosquito_Indicator  1342 non-null   float64
 2   rain                1342 non-null   float64
 3   mean_T              1342 non-null   float64
 4   min_T               1342 non-null   float64
 5   max_T               1342 non-null   float64
dtypes: float64(5), object(1)
memory usage: 63.0+ KB

In [21]:
data =df.drop('mosquito_Indicator',axis = 1)
target = df['mosquito_Indicator']